.react-datepicker-wrapper {
    width: auto;
}

.date-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.one-date-container {
    margin: 5px;
}

.data-disclaimer{
    text-align: center;
    margin: 60px 60px 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disclaimer2{
    font-size: 18px;
}

.disclaimer1{
    color: rgb(221, 73, 73);
    font-weight: 600;
    font-size: 20px;
}

.station-page-header {
    display: flex;
    justify-content: center;
    margin: 80px;
  }
  
.station-page-title {
    font-weight: 700;
    font-size: 50px;
}