.loading-info {
    text-align: center;
}

.csv-link {
    display: block;
    text-align: center;
    width: fit-content;
    /* margin: auto; */
    background-color: #022851;
    border-radius: 0.25rem;
    padding: 5px 25px;
    text-decoration: none;
    color: #fff;
    border-color: #022851;
    border-width: 2;
}

.csv-link:hover {
    background: #FFBF00;
    color: #022851;
}

center > * {
    margin: 5px;
}

.react-datepicker-wrapper {
    width: fit-content !important;
}