.station-page-header {
    display: flex;
    justify-content: center;
    margin: 80px;
  }
  
.station-page-title {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.chart-container {
  margin-right: 70px;
  margin-left: 25px;
}

.error-message {
    color: red;
    margin: auto;
    width: fit-content;
}