.data-disclaimer{
    text-align: center;
    width: 80vw;
    margin: auto;
}

.disclaimer2{
    font-size: 18px;
}

.disclaimer1{
    color: rgb(221, 73, 73);
    font-weight: 600;
    font-size: 20px;
}