.container1 { 
  margin: auto;
  width: 40%;
  border: 5px solid rgb(138, 166, 231);
  padding: 10px;
  border-radius: 10px;
  /* position: relative; */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  float: left;
  width: 50%;
}

.form-description {
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 17px;
  color:rgb(83, 84, 87);
}

.btn-container{ 
  padding-top: 30px;
  padding-bottom: 10px;
}

.submit-btn {
  width: 50%;
  background: rgb(138, 166, 231);
  border: 1px solid rgb(138, 166, 231);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: initial;
  background-position: 0 0;
  color: rgb(138, 166, 231);
}

.submit-btn:active {
  opacity: .5;
}

.form-labels {
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  margin: 10px;
}

input[type="date"] {
  width: 80%;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  padding: 10px;
}

.spacer {
  margin: 100px;
}

.highcharts-figure,
.highcharts-data-table table {
  margin: 1em auto;
  padding:30px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.text-container {
  padding: 40px 70px 30px 70px;
}

.title {
  text-align: center;
  color: #2a5889;
  font-size: 30px;
  margin: 0;
}