input {
    text-align: center;
}

.date-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
    gap: 20px;
    border-radius: 0.25rem;
    border-width: 5px;
    border-style: solid;
    border-color: #022851;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

@media (max-width: 576px) {
    .date-container {
        margin: 20px;
    }
}

.submitButton {
    padding-left: 25px;
    padding-right: 25px;
    /* margin: 10px; */
    border-radius: 0.25rem;
    color: #fff;
    background-color: #022851;
}

.submitButton:hover {
    background: #FFBF00;
    color: #022851;
}

.date-label {
    margin: 0;
    text-align: center;
}

.one-date-container {
    margin: 5px;
}

.react-datepicker-wrapper {
    width: auto;
}