.full-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-container {
    cursor: pointer;
}

@media (max-width: 750px) {
    .weather-container {
        display: none;
    }
}