.map {
    width: 80vw;
    margin: auto;
}
  
.map-container {
    height: 93vh;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* margin: 12px; */
    border-radius: 4px;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.map-caption {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 40px;
}


@media only screen and (max-width: 600px) {
    .map-caption {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
    }
}