.title {
    margin: auto;
    width: fit-content;
}

.archive-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.csv-link {
    display: block;
    text-align: center;
    width: fit-content;
    /* margin: auto; */
    background-color: #022851;
    border-radius: 0.25rem;
    padding: 5px 25px;
    text-decoration: none;
    color: #fff;
    border-color: #022851;
    border-width: 2;
}

.csv-link:hover {
    background: #FFBF00;
    color: #022851;
}

center > * {
    margin: 5px;
}

.react-datepicker-wrapper {
    width: fit-content !important;
}

.clean-real-button {
    margin: 0;
    width: fit-content;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1.25rem;
    background-color: #fff;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.clicked {
    background-color: #022851;
    color: #fff;
}

.error-message {
    color: red;
}

.submitButton {
    margin: 20px;
}

.react-tabs__tab {
    margin-left: 20px;
    border-radius: 5px 5px 0 0;
    border-color: #032751;
    background-color: #CDD6E0;
    padding: 10px;
    border-bottom: 1px solid #032751;
}

.outer-tab-container {
    margin: 100px;
    border: 2px solid #022851;
    border-radius: 10px;
    /* padding-top: 20px;
    padding-bottom: 80px; */
}

.react-tabs__tab-list {
    margin-top: 30px;
    border-color: #032751;
}

.react-tabs__tab--selected {
    background-color: #1D4776;
    color: white;
    font-weight: 700;
    /* border-color: #032751; */
    /* border: 3px solid #032751; */
}

.react-tabs__tab-panel {
    margin-top: 40px;
    margin-bottom: 40px;
}

.select-drop {
    width: 15%;
    padding: 5px;
}

.location-container {
    margin: 20px
}

.multi-select {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.date-container1 {
    display: flex;
    margin-bottom: 1rem;
    gap: 50px;
    width: fit-content;
}