.drop-csv-header{
    background-image: url('../../../images/sigmund-TlFw-WoI8_w-unsplash.jpg');
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;
    background-size: cover;
    color: #fff;
}

.drop-title {
    font-size: 3rem;
}

.drop-disclaimer {
    margin: 30px;
    font-size: 20px;
    text-align: center;
}

.drop-disclaimer1 {
    color: rgb(221, 73, 73);
    font-weight: 600;
}

.welcome {
    display: flex;
    flex-direction: column;
}

.welcome-header {
    text-align: center;
    font-size: 35px;
    color: #022851;
    font-weight: 900;
}

.logout-btn-container {
    display: flex;
    justify-content: center;
}

.logout-btn {
    height: 50px;
    width: 150px;
    border: 2px solid #FFDF80; 
    border-radius: 20px;
    transition-duration: 0.4s;
    background-color: white;
}

.logout-btn:hover {
    background-color: #FFDF80;
}

.remainder-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.file-type {
    font-weight: 600;
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
}

