.chart-container-half {
    width: 65vw;
    margin: auto;
}

.profile-graph .chip {
    background: #fff !important;
    color: #000;
}

@media (max-width: 576px) {
    .chart-container-half {
        width: 100vw;
        margin: auto;
    }
}